@import url("https://dazzle-ui-components.netlify.app/components/components.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

@import './css/header.css';
@import './css/navbar.css';
@import './css/loginSignup.css';
@import './css/cart.css';
@import './css/product.css';

:root {
    --discounted-price: #f53f3f;
    --card-button-hover: #f0fffb;
    --black: #313131;
    --border-color: #dddddd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    width: 100%;
}

main {
    padding: 0;
}

.card-vertical {
    align-self: center;
    justify-self: center;
    min-width: 16rem;
    max-width: 16rem;
    background: white;
}

.card-vertical:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.card-vertical>.card-details {
    height: 5.5rem;
}

.card-img-vertical {
    height: 15rem;
}

.title {
    text-transform: uppercase;
    font-weight: 500;
}

.discountedPrice {
    font-weight: normal;
    color: var(--discounted-price);
}

.plain-button {
    cursor: pointer;
    background: transparent;
    border: unset;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-button {
    color: var(--secondary);
    width: 100%;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    background: var(--card-button-hover);
    padding: 0.75rem 0;
}

.card-button:hover {
    color: var(--black);
}

.card-vertical {
    position: relative;
}

.card-delete-icon {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    background: #ffffff99;
    border: 1.2px solid #d4d5d9;
    border-radius: 50%;
    padding: 6px;
}

.card-delete-icon:hover {
    filter: brightness(85%);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-decor-none{
    text-decoration: none;
}
