@import url("https://dazzle-ui-components.netlify.app/components/components.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

@import './css/header.css';
@import './css/navbar.css';
@import './css/home.css';
@import './css/loginSignup.css';
@import './css/cart.css';
@import './css/product.css';

:root {
    --primary: #000;
    --discounted-price: #f53f3f;
    --card-button-hover: #f0fffb;
    --opacity-50: rgba(0, 0, 0, 0.26);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    width: 100%;
}

main {
    padding: 0;
}

.card-vertical {
    align-self: center;
    justify-self: center;
    background: var(--white-color);
}

.card-vertical>.card-details {
    height: 5.5rem;
}

/* .card-img-vertical {
    height: 15rem;
    border-radius: 0; ----------------add radius by class
} */

.title {
    text-transform: uppercase;
    font-weight: 500;
}

.discountedPrice {
    font-weight: normal;
    color: var(--discounted-price);
}

.plain-button {
    cursor: pointer;
    background: transparent;
    border: unset;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-button {
    color: var(--dark-black);
    width: 100%;
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    background: var(--light-gray);
    padding: 0.75rem 0;
}

.card-button:hover {
    background: var(--light-black);
    color: var(--white-color);
}

.card-delete-icon {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    background: #ffffff99;
    border: 1.2px solid #d4d5d9;
    border-radius: 50%;
    padding: 6px;
}

.card-delete-icon:hover {
    filter: brightness(85%);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-decor-none {
    text-decoration: none;
}

/* -----------------footer------------------ */

footer {
    justify-content: space-around;
    margin-top: 4rem;
}

.links {
    list-style: none;
}

.links>li {
    padding: 4px 0;
    font-size: 1.1rem;
}

.link {
    color: var(--light-black);
    text-decoration: none;
}